[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
lexnlp = {file = "https://github.com/LexPredict/lexpredict-lexnlp/archive/master.zip"}
extractor = "*"
nltk = "*"

[requires]
python_version = "3.6"
